@model LYSApp.Model.UserViewModel

@*---Mobile Verification Modal---*@
<div id="divMobileVerification" class="modal fade col-lg-12 col-md-12 col-sm-12 col-xs-12" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content bounceInRight">
            <div class="modal-header">
                <button type="button" id="btnVerificationClose" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Verify Mobile Number</h4>
            </div>
            <div class="modal-body">
                <div class="row text-left">
                    <div class="col-xs-12">
                        <div id="login-alert" style=" padding-bottom:1%;">Phone Number Verifiation Failed. Please Try Again.</div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">+91</div>
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "required form-control ", maxlength = "20", placeholder = "Phone Number", tabIndex = "1", @id = "txtPhoneNumberModal", @style = "border:1px solid #dfdfdf !important;" })
                        </div>
                    </div>
                <div class="form-group">
                    <div id="spn-phone-verification" class="required_label"><a class="pull-right" onclick="fnGenerateVerificationCode(this);" style="cursor:pointer;">Verify Phone Number</a></div>
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.PhoneVerificationCode, new { @class = "required form-control", maxlength = "20", placeholder = "Verification Code", tabIndex = "2", @id = "txtVerificationCodeModal" })
                </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" id="btnVerifyPhoneNumber" type="button" aria-hidden="true" value="Verify" />
            </div>
        </div>
    </div>
</div>

@*---Email Verification Modal---*@
<div id="divEmailVerification" class="modal fade col-lg-12 col-md-12 col-sm-12 col-xs-12" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bounceInRight">
            <div class="modal-header">
                <button type="button" id="btnVerificationClose" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Verify Email</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10">
                        Verification code has been sent to your provided Email ID.Please check you email id.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*---Change Password*@

<div id="divChangePassword" class="modal fade col-lg-12 col-md-12 col-sm-12 col-xs-12" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bounceInRight">
            <div class="modal-header">
                <button type="button" id="btnVerificationClose" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            @using (Ajax.BeginForm("ChangePassword", "Account", FormMethod.Post, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnPasswordChange", OnFailure = "OnPasswordChange" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            Current Password
                        </div>
                        <div class="col-md-9">
                            @Html.PasswordFor(model => model.ManageUserViewModel.OldPassword, new { @class = "form-control", placeholder = "Current Password" })
                        </div>
                    </div>

                    <div class="row row-padding-top-5">
                        <div class="col-md-3">
                            New Password
                        </div>
                        <div class="col-md-9">
                            @Html.PasswordFor(model => model.ManageUserViewModel.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                        </div>
                    </div>

                    <div class="row row-padding-top-5">
                        <div class="col-md-3">
                            Current Password
                        </div>
                        <div class="col-md-9">
                            @Html.PasswordFor(model => model.ManageUserViewModel.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-green" id="btnChange" type="submit" aria-hidden="true" value="Change" />
                </div>
            }
        </div>
    </div>
</div>

@*---Content---*@
<div class="col-md-9">
    <div class="panel content">
        <div class="panel-heading">
            Verification
        </div>
        <div class="panel-body">
            @*---Mobile Number---*@
            <div class="row">
                <div class="col-md-12">
                    <strong>Phone Number</strong>
                </div>
                <div class="col-md-12">
                    @if (Model.PhoneNumberConfirmed)
                    {
                        <p>Your mobile number @Model.PhoneNumber is verfied</p>
                    }
                    else
                    {
                        <p>
                            Make it easier to communicate with a verified phone number. We’ll send you a code by SMS or read it to you over the phone.
                            Enter the code below to confirm that you’re the person on the other end.
                        </p>
                        <br />
                        if (Model.PhoneNumber != null)
                        {
                            <p>Your mobile number @Model.PhoneNumber is not verified.Please click <a class="linkVerifyMobileNumber"><strong>here</strong></a> to verify.</p>
                        }
                        else
                        {
                            <p>You have not provided any mobile number yet. Please <a class="linkVerifyMobileNumber"><strong>here</strong></a>to add a mobile number.</p>
                        }
                    }
                </div>

            </div>
            @*---Email ID---*@
            <div class="row row-padding-top-5">
                <div class="col-md-12">
                    <strong>Email Address</strong>
                </div>
                <div class="col-md-12">
                    @if (Model.EmailConfirmed)
                    {
                        <p>Your Email ID @Model.Email is verified successfully  <i class="fa fa-check-circle default-color" aria-hidden="true"></i></p>
                    }
                    else
                    {
                        <p>
                            Your email id @Model.Email is not verified yet.Please click <a id="linkVerifyEmail"><strong>here</strong></a> to verify your email id.<br />
                            You will recieve message from <b><i>LockYourStay</i></b>.With just one click on the link given in the mail you can verify.
                            <br />
                            <br />
                            Cant find our message? Please check spam folder or <a id="linkVerifyEmail"><strong>Resend Confirmtion Email</strong></a>
                        </p>
                    }

                </div>

            </div>
            @*---Change Password---*@
            <div class="row row-padding-top-5">
                <div class="col-md-12">
                    <strong>Password</strong>
                </div>
                <div class="col-md-9">
                    To change your current password please click <a id="linkChangePassword"><strong>here</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/validate")

<script>

    var mobileVerificationURL = '@Url.Action("Verification", "User")';
    var emailVerificationURL = '@Url.Action("SendAccountActivationMailForExistingUser", "Account")';
    var passwordChangeURL = '@Url.Action("Manage", "Account")'
    $('.linkVerifyMobileNumber').click(function () {
        $("#divMobileVerification").modal('show');
    });

    $('#linkVerifyEmail').click(function () {
        $.ajax({
            url: emailVerificationURL,
            type: 'POST',
            success: function () {
                $("#divEmailVerification").modal('show');
            },
            error: function (data) {
                alert(data);
            }
        });
    });

    $('#linkChangePassword').click(function () {

        $("#divChangePassword").modal('show');
    });


    function OnPasswordChange() {
        $("#divChangePassword").modal('hide');
        alert(@ViewBag.StatusMessage);
    }


    //Generate Verification code
    function fnGenerateVerificationCode(elem) {
        if ($("#txtPhoneNumberModal").val() != "") {
            $("#txtPhoneNumberModal").css("border", "none");

            $("#spn-phone-verification").html("Please wait...")
           
            $.ajax({
                url: GenerateVerificationCodeUrl,
                cache: false,
                data: { 'PhoneNumber': $("#txtPhoneNumberModal").val() },
                type: 'POST',
                success: function (responseData) {
                    console.log(responseData);
                    if (responseData == "invalid")
                        $("#spn-phone-verification").html("Phone number already exists, <a onclick='fnGenerateVerificationCode(this);' style='cursor:pointer;color:rgb(232, 163, 65);'>try again</a>.");
                    else if (responseData == "exception_logged")
                        $("#spn-phone-verification").html("We couldn't send message to you, please <a onclick='fnGenerateVerificationCode(this);' style='cursor:pointer;color:rgb(232, 163, 65);'>try again</a>.");
                    else if (responseData != "")
                        $("#spn-phone-verification").html("Verification code has been sent to your phone number. If you havn't received, <a onclick='fnGenerateVerificationCode(this);' style='cursor:pointer;color:rgb(232, 163, 65);'>try again</a>.");
                    else
                        $("#spn-phone-verification").html("Not a valid phone number, <a onclick='fnGenerateVerificationCode(this);' style='cursor:pointer;color:rgb(232, 163, 65);'>try again</a>.");
                },
                error: function (response) {
                    $("#spn-phone-verification").html("Error! Please, <a onclick='fnGenerateVerificationCode(this);' style='cursor:pointer;color:rgb(232, 163, 65);'>try again</a>.");
                }
            });
        }
        else {
            $("#txtPhoneNumberModal").css("border", "solid 1px red");

        }
    }

    $('#btnVerifyPhoneNumber').click(function () {
        fnVerifyPhone(this);
    });

    //Verify Phone Number 
    function fnVerifyPhone(e) {
        if ($("#txtPhoneNumberModal").val() != "") {
            if ($("#txtVerificationCodeModal").val() != "") {
                var jmodel = { PhoneNumber: $("#txtPhoneNumberModal").val(), VerificationCode: $("#txtVerificationCodeModal").val() };
                $.ajax({
                    url: VerifyPhoneNumberUrl,
                    type: 'POST',
                    data: jmodel,
                    dataType: 'html',
                    success: function (responseData) {
                        if (responseData.toUpperCase() == "SUCCESS") {
                            $('#login-alert').html("Thank You For Verifying Your Phone Number");
                            $('#login-alert').show();
                            setTimeout(function () {
                                location.href = SummaryUrl;
                            }, 3000);

                        }
                        else if (responseData.toUpperCase() == "FAILED") {
                            $('#login-alert').html("Failed! Invalid Verification Code.");
                            $('#login-alert').show();
                        }

                    },
                    error: function (response) {
                        $('#login-alert').html("Error! Please Try Again");
                        $('#login-alert').show();
                    }
                });

            }
            else {
                $("#txtVerificationCodeModal").css("border", "solid 1px red");
            }

        }
        else {
            $("#txtPhoneNumberModal").css("border", "solid 1px red");
        }
    }
</script>