@using LYSApp.Model;
@model LYSApp.Model.UserViewModel

@{
    
    ViewBag.Title = "Profile";
}

<!DOCTYPE html>



    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->

   
    <link href="~/Content/app.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/lockyourstay.css" rel="stylesheet" />
    <link href="~/Content/Custom/User/ViewProfile.css" rel="stylesheet" />

    @**---Modal for Image Cropping---*@
    <div id="divCropResizeImage" class="modal fade col-lg-12 col-md-12 col-sm-12 col-xs-12" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content  bounceInRight">
                <div class="modal-header">
                    <button type="button" id="btnCropClose" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Crop Image</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <img id="demo3" alt="Jcrop Example"/>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" id="btnSkipCropping" type="button" aria-hidden="true" value="Skip Cropping" />
                    <input class="btn btn-primary" id="btnCrop" type="button" value="Crop" />
                </div>
            </div>
        </div>
    </div>

    
    <div class="wrapper">

        <!--=== Profile ===-->
        <div class="container content profile">
            <div class="row">
                <!--Left Sidebar-->
                <div class="col-md-3 md-margin-bottom-40">
                    <img class="img-responsive profile-img margin-bottom-20" src="" alt="ProfilePic">

                    <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                        <li class="list-group-item active">
                            <a href="javascript:void(0)"id="linkEditProfile"><i class="fa fa-bar-chart-o"></i> Edit Profile</a>
                        </li>
                        <li class="list-group-item">
                            <a href="page_profile_me.html"><i class="fa fa-user"></i> Upload Photo</a>
                        </li>
                        <li class="list-group-item">
                            <a href="page_profile_users.html"><i class="fa fa-group"></i> Trust and Verification</a>
                        </li>
                        <li class="list-group-item">
                            <a href="page_profile_projects.html"><i class="fa fa-cubes"></i> View Profile</a>
                        </li>
                        <li class="list-group-item">
                            <a href="page_profile_comments.html"><i class="fa fa-comments"></i> Comments/Reviews</a>
                        </li>
                     </ul>
                </div>
                <!--End Left Sidebar-->
                <!-- Profile Content -->
                <div class="col-md-9">
                 
                      @Html.Partial("_EditProfile",Model)
                    @Html.Partial("_ProfilePicture", Model)
                </div>
                <!-- End Profile Content -->
            </div>
        </div>
        <!--=== End Profile ===-->

    </div>
    <!--/wrapper-->
    <input type="hidden" id="hdnImageCropWidth" name="ImageCropWidth" />
    <input type="hidden" id="hdnImageCropHeight" name="ImageCropHeight" />
    <input type="hidden" id="hdnCropPointX" name="CropPointX" />
    <input type="hidden" id="hdnCropPointY" name="CropPointY" />
    <input type="hidden" id="hdnCropPointX2" name="CropPointX2" />
    <input type="hidden" id="hdnCropPointY2" name="CropPointY2" />
    <input type="hidden" id="hdnFileName" name="ImgFileName" />
    <input type="hidden" id="hdnImageSource" name="ImageSource" />
   
@section scripts{
<script>
    var CropImageUrl = '@Url.Action("CropImage", "User")';
</script>
<script src='@Url.Content("~/Scripts/Custom/User/ViewProfile.js")'></script>
<script src='@Url.Content("~/Scripts/Custom/User/jquery.Jcrop.min.js")'></script>
<script src='@Url.Content("~/Scripts/Custom/User/form-image-crop.js")'></script>
}
    
