@using LYSApp.Model;
@model LYSApp.Model.UserViewModel

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = "Profile";
}

    <!-- custom css  -->    
    <link href='@Url.Content("~/Content/Custom/User/ViewProfile.css")' rel="stylesheet" />   

    <div class="wrapper">

        <!--=== Profile ===-->
        <div class="container content profile">
            <div class="row">
                <!--Left Sidebar-->
                <div class="col-md-3 md-margin-bottom-40">
                    <img class="img-responsive profile-img margin-bottom-20" src="" alt="ProfilePic">

                    <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                        <li class="list-group-item active">
                            <a href="javascript:void(0)"id="linkEditProfile"><i class="fa fa-bar-chart-o"></i> Edit Profile</a>
                        </li>
                        <li class="list-group-item">
                            <a href="page_profile_me.html"><i class="fa fa-user"></i> Upload Photo</a>
                        </li>
                        <li class="list-group-item">
                            <a href="page_profile_users.html"><i class="fa fa-group"></i> Trust and Verification</a>
                        </li>
                        @*<li class="list-group-item">
                            <a href="page_profile_projects.html"><i class="fa fa-cubes"></i> View Profile</a>
                        </li>*@
                        <li class="list-group-item">
                            <a href="page_profile_comments.html"><i class="fa fa-comments"></i> Comments/Reviews</a>
                        </li>
                     </ul>
                </div>
                <!--End Left Sidebar-->
                <!-- Profile Content -->
                <div class="col-md-9">
                 
                    @Html.Partial("_EditProfile",Model)
                     @Html.Partial("_ProfilePicture", Model)
                    @Html.Partial("_Verification",Model)
                    @Html.Partial("_ReviewComments",Model)
                </div>
                <!-- End Profile Content -->
            </div>
        </div>
        <!--=== End Profile ===-->

    </div>
    <!--/wrapper-->
  

@section scripts{
<script>
    var CropImageUrl = '@Url.Action("CropImage", "User")';
</script>

}
 
<script src='@Url.Content("~/Scripts/Custom/User/ViewProfile.js")'></script>
<script src='@Url.Content("~/Scripts/Custom/User/jquery.Jcrop.min.js")'></script>
<script src='@Url.Content("~/Scripts/Custom/User/form-image-crop.js")'></script>  
<script src='@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")'></script>