@model LYSApp.Model.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<div class="container home-container" id="resetpassword">
    <div class="hidden-lg hidden-md row-spacer"></div>
    <div class="row-spacer-mini hidden-sm hidden-xs"></div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Reset Password</div>
                <div class="panel-body">
                    @*@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))*@
                    @using (Ajax.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, new AjaxOptions() { OnSuccess = "resetpasswordSuccess", OnFailure = "resetpasswordFailed", HttpMethod = "Post" }, new { role = "form", id = "form-ResetPassword", autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Code)
                        @Html.HiddenFor(model => model.UserID)
                        @*<script>
                            window.setTimeout(function () { $(".alert-success").alert('close'); }, 5000);
                        </script>*@
                        <div class="form-group no-left-margin no-right-margin hidden errorblock">
                            <div class="alert alert-success text-red">
                                <i class="fa fa-comments-o"></i><span class="text-justify errormessage"></span>
                                <a class="close  pull-right " data-dismiss="alert"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="form-group no-left-margin no-right-margin">
                            <label for="exampleInputEmail1">Password</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        </div>
                        <div class="form-group no-left-margin no-right-margin">
                            <label for="exampleInputPassword1">Confirm Password</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                        </div>
                        <div class="form-group no-left-margin no-right-margin">
                            <input type="submit" class="btn btn-green full-width" value="Reset" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
