@using LYSApp.Web.Services;
<div class="home-header">
    <a href="@Url.Action("Index","Account")"><div class="home-logo osLight"><span class="fa fa-home"></span>lockyourstay</div></a>
    @if (SessionManager.GetSessionUser() == null)
    {
        <a  class="home-navHandler visible-xs"><span class="fa fa-bars"></span></a>
        <div class="home-nav">
            <ul>
                <li><a  data-toggle="modal" data-target="#signup">Sign Up</a></li>
                <li><a data-toggle="modal" data-target="#signin">Sign In</a></li>
                <li><a  class="btn btn-dark-brown" data-toggle="modal">List a Property</a></li>
            </ul>
        </div>
    }
    else
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            var user=SessionManager.GetSessionUser();
            string name = String.Empty;
            if (user.FirstName != null && user.FirstName != String.Empty)
            {
                name = user.FirstName + " " + user.LastName;
            }
            else
            {
                if (user.LastName != null && user.LastName != String.Empty)
                {
                    name = user.LastName;
                }
                else
                {
                    name = "Guest";
                }
            }
           
            @Html.AntiForgeryToken()
            <div class="headerUserWraper">
                <a  class="userHandler dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span></a>
                <a  class="headerUser dropdown-toggle" data-toggle="dropdown">
                    <img class="avatar headerAvatar pull-left" src='@Url.Content(user.ProfilePicture != null && user.ProfilePicture != String.Empty ? user.ProfilePicture : "~/Images/default_profile_pic.jpg")' alt="avatar">
                    <div class="userTop pull-left">
                        <span class="headerUserName">@name</span> <span class="fa fa-angle-down"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
                <div class="dropdown-menu pull-right userMenu" role="menu">
                    <div class="mobAvatar">
                        <img class="avatar mobAvatarImg" src='@Url.Content("~/images/avatar-1.png")' alt="avatar">
                        <div class="mobAvatarName">@name</div>
                    </div>
                    <ul>
                        <li><a href='@Url.Action("ViewProfile","User")'><span class="icon-user"></span>Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="icon-power"></span>LogOff</a></li>
                    </ul>
                </div>
            </div>
        }
    }

</div>
