@model List<LYSApp.Model.SearchResultViewModel>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/datepicker.css" rel="stylesheet" />


<!-- Content -->

<div id="wrapper">
    <div id="mapView">
        <div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div>
    </div>
    <div id="content">
        <div class="filter">
            <h1 class="osLight">Filter your results</h1>
            <a href="#" class="handleFilter"><span class="icon-equalizer"></span></a>
            <div class="clearfix"></div>
            <form class="filterForm">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 formItem">
                        <div class="formField">
                            <input type="text" class="form-control" id="city" placeholder="City" autocomplete="on">
                        </div>
                    </div>
                
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 formItem">
                        <div class="formField">
                            <input type="text" class="form-control" id="area" placeholder="Area" autocomplete="on">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 formItem">
                        <div class="formField">
                            <select class="form-control">
                                <option selected="selected" disabled>--Sharing--</option>
                                <option value="1">Single</option>
                                <option value="2">Double</option>
                                <option value="3">Triple</option>
                                <option value="4">Four</option>
                                <option value="5">Five</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 formItem">
                        <div class="formField">
                            <select class="form-control">
                                <option selected="selected" disabled>--Gender--</option>
                                <option value="Male">Boys</option>
                                <option value="Female">Girls</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 formItem">
                        <div class="formField">
                            <label>Price Range</label>
                            <div class="slider priceSlider">
                                <div class="sliderTooltip">
                                    <div class="stArrow"></div>
                                    <div class="stLabel"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                </div>
             
            </form>
        </div>
        <div class="resultsList">
            <div class="row">
                @foreach (var ViewModel in Model)
                {
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a href="single.html" class="card">
                            <div class="figure">
                                <img src="@Url.Action(ViewModel.MinimumRentHouse.HouseImages.FirstOrDefault().ImagePath)" alt="">
                                <div class="figCaption">
                                    <div>@ViewModel.MinimumRentHouse.Rooms.FirstOrDefault().MonthlyRent</div>
                                </div>
                                <div class="figView"><span class="icon-eye"></span></div>
                            </div>
                            <h2>@ViewModel.PGName</h2>
                            <div class="cardAddress"><span class="icon-pointer"></span>@ViewModel.MinimumRentHouse.Address</div>
                            <div class="cardRating">
                              <input type="hidden" value="@ViewModel.MinimumRentHouse.HouseReviews.FirstOrDefault().Rating" id="Rating" />
                            </div>
                           
                            <div class="clearfix"></div>
                        </a>
                    </div>
                }
               
            </div>
            <ul class="pagination">
                <li class="disabled"><a href="#"><span class="fa fa-angle-left"></span></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><span class="fa fa-angle-right"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
@section scripts{

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/jquery.tagsinput.min.js"></script>
<script src="~/Scripts/app.js"></script>
<script src="~/Scripts/Custom/User/SearchHome.js"></script>
    
<script type="text/javascript">
   
    
    $(document).ready(function () {
       
        function populateMap() {

            var prop; //object declared here so that memory allocation is done one time
            var position;
            var props = [];
            var i;
            for (i = 0; i < '@Model.Count()' ; i++) {
                var count = i;
                prop = {};
                position = {};
                prop.title = '@Model.ElementAt(i).PGName';
                prop.image = '@Model.ElementAt(i).MinimumRentHouse.HouseImages.FirstOrDefault().ImagePath';
                prop.price = '@Model.ElementAt(i).MinimumRentHouse.Rooms.FirstOrDefault().MonthlyRent';
                prop.address = '@Model.ElementAt(i).MinimumRentHouse.Address';
                position.lat = '@Model.ElementAt(i).MinimumRentHouse.Latitude';
                position.long = '@Model.ElementAt(i).MinimumRentHouse.Longitude';
                prop.position = position;
                markerIcon : "marker-green.png"

                props.push(prop);

            }

            var endTime = Date.now();

            var timeTaken = endTime - startTime;
            console.log('Time taken: ' + timeTaken);

        }
       
        function fnFillHouseRatings() {

            eval("var houseRatings = " + $("#Rating").val());
            $.each(houseRatings, function (i, houseRating) {

                var data = '<li class="list-group-item">' +
                              '<p id = "pHouseRating"><span class=""fa fa-star""><span style="width:' + (houseRating.AverageRating * 20) + '%;"></span></span></p>'
                '</li>';

                $('#cardRating').append(data);
            });
        }

        });
    </script>
}



