@model LYSApp.Model.PropertyDetailsViewModel
@{
    ViewBag.Title = "PropertyDetails";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}




<div class="tabsContainer">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active"><a href="#details" role="tab" data-toggle="tab"><span class="icon-home"></span> Details</a></li>
        <li><a href="#services" role="tab" data-toggle="tab"><span class="icon-home"></span> Services and Rules</a></li>
        <li><a href="#reviews" role="tab" data-toggle="tab"><span class="icon-bubbles"></span> Reviews</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="details">
            <div class="mob-max">
                <div class="singleTop">
                    <div id="carouselFull" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselFull" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselFull" data-slide-to="1"></li>
                            <li data-target="#carouselFull" data-slide-to="2"></li>
                            <li data-target="#carouselFull" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="~/Images/prop/4-1.png" alt="First slide" style="width:100%" />
                                <div class="container">
                                    <div class="carousel-caption">

                                    </div>
                                </div>

                            </div>
                            <div class="item">
                                <img src="~/Images/prop/4-2.png" alt="Second slide" style="width:100%"/>
                                <div class="container">
                                    <div class="carousel-caption">

                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Images/prop/4-3.png" alt="Third slide" style="width:100%" />
                                <div class="container">
                                    <div class="carousel-caption">
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Images/prop/4-4.png" alt="Fourth slide" style="width:100%"/>
                                <div class="container">
                                    <div class="carousel-caption">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carouselFull" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
                        <a class="right carousel-control" href="#carouselFull" role="button" data-slide="next"><span class="fa fa-chevron-right"></span></a>
                    </div>
                    <div class="summary">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="summaryItem">
                                    <h1 class="pageTitle">@Model.PGName</h1>
                                    <div class="address"><span class="icon-pointer"></span> @Model.Address</div>
                                    <ul class="rating">
                                        <li><a href="#"><span class="fa fa-star"></span></a></li>
                                        <li><a href="#"><span class="fa fa-star"></span></a></li>
                                        <li><a href="#"><span class="fa fa-star"></span></a></li>
                                        <li><a href="#"><span class="fa fa-star"></span></a></li>
                                        <li><a href="#"><span class="fa fa-star-o"></span></a></li>
                                        <li>(146)</li>
                                    </ul>
                                    <div class="favLink"><a href="#"><span class="icon-heart"></span></a>54</div>
                                </div>
                            </div>
                            @*<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="agentAvatar summaryItem">
                                        <div class="clearfix"></div>
                                        <a data-toggle="modal" href="#contactAgent" class="btn btn-lg btn-round btn-green contactBtn">Contact Owner</a>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="description">
                    <h3>Description</h3>
                    <p>@Model.Description</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  padding-left">
                    <h3>Choose Room</h3>
                    <div>
                        <div id="tblRoomHeader" class="row">
                            <div class="col-md-6"><h5>Room Type</h5></div>
                            <div class="col-md-3"><h5>Price</h5></div>
                            <div class="col-md-3">&nbsp;</div>
                        </div>
                        @foreach (var house in Model.HouseList)
                        {
                            foreach (var room in house.Rooms)
                            {
                                <div class="row row-padding-top-1 border-bottom padding-left">
                                    <div class="col-md-6">
                                        <span class="userName">@room.NoOfBeds Sharing Room</span>
                                    </div>
                                    <div class="col-md-3">@room.MonthlyRent</div>
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-6"><a class="btn btn-s btn-round btn-o btn-green" id="btnViewAmenities">View Amenities</a></div>
                                            <div class="col-md-6"><a class="btn btn-s btn-round btn-o btn-green" data-toggle="dropdown"><span class="icon-anchor"></span> Book Now</a></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12  row-padding-top-1">
                                        <div id="divAmenities" class="row" style="display:none">
                                         
                                                @foreach (var HouseAmenity in house.HouseAmenities)
                                                {
                                                    if (HouseAmenity.AC)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1 text-center"><span class="fa fa-asterisk"></span> Air Conditioning</div>
                                                    } if (HouseAmenity.Aquaguard)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="icon-drop"></span> Water Purifier</div>
                                                    }
                                                    if (HouseAmenity.AttachBathrooms)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1 text-center"><span class="fa fa-wheelchair"></span> AttachBathrooms</div>
                                                    } if (HouseAmenity.Clubhouse)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1 text-center"><span class="fa fa-bank"></span> Club</div>
                                                    } if (HouseAmenity.CommonTV)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-users"></span><span class="icon-screen-desktop"></span> Common TV</div>
                                                    } if (HouseAmenity.EmergencyMedicalServices)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-ambulance"></span> Emergency Medical Services</div>
                                                    } if (HouseAmenity.FourWheelerCloseParking)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-car"></span> Four Wheeler Parking</div>
                                                    } if (HouseAmenity.Fridge)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="glyphicon-asterisk"></span> Refrigerator</div>
                                                    } if (HouseAmenity.GYM)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> GYM</div>
                                                    } if (HouseAmenity.HotColdWaterSupply)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> HotColdWaterSupply</div>
                                                    } if (HouseAmenity.Housekeeping)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Housekeeping</div>
                                                    } if (HouseAmenity.IndividualTV)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Individual TV</div>
                                                    } if (HouseAmenity.IntercomFacility)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Intercom Facility</div>
                                                    } if (HouseAmenity.IroningWashingServices)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Laundry Service</div>
                                                    } if (HouseAmenity.KitchenFacilityWithGas)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Kitchen Facility With Gas</div>
                                                    } if (HouseAmenity.Lift)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Lift</div>
                                                    } if (HouseAmenity.Lockers)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Lockers</div>
                                                    } if (HouseAmenity.Newspaper)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Newspaper</div>
                                                    } if (HouseAmenity.Partyhall)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Party Hall</div>
                                                    } if (HouseAmenity.Playground)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Playground</div>
                                                    } if (HouseAmenity.Powerbackup)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Power backup</div>
                                                    } if (HouseAmenity.RoomService)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Room Service</div>
                                                    } if (HouseAmenity.Security)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Security</div>
                                                    } if (HouseAmenity.SwimmingPool)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Swimming Pool</div>
                                                    } if (HouseAmenity.TwoWheelerCloseParking)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Two Wheeler Parking</div>
                                                    } if (HouseAmenity.VideoSurveillance)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> VideoSurveillance</div>
                                                    } if (HouseAmenity.Wardrobes)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Wardrobes</div>
                                                    } if (HouseAmenity.Washingmachine)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="glyphicon-tint"></span> Washing Machine</div>
                                                    } if (HouseAmenity.WaterSupply)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="icon-drop"></span> 24/7 Water Supply</div>
                                                    } if (HouseAmenity.Wifi)
                                                    {
                                                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-wifi"></span> Wifi</div>
                                                    }

                                                }
                                        </div>
                                    </div>
                                </div>
                                
                            }
                        }

                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="map">
                    <h3 class="place-center">Location in Map</h3>
                    <div class="head-links place-center">
                        <ul class="mapItems">
                            <li class="mapList"><label id="commute" class="mapLabel active-map">Commute</label></li>
                            <li class="mapList"><label id="amenity" class="mapLabel">Basic Amenity</label></li>
                            <li class="mapList"><label id="healthcare" class="mapLabel">Healthcare</label></li>
                            <li class="mapList"><label id="entertainment" class="mapLabel">Shopping & Entertainment</label></li>
                            <li class="mapList"><label id="food" class="mapLabel">Food & Drinks</label></li>
                            <li class="mapList"><label id="education" class="mapLabel">Education</label></li>
                        </ul>
                    </div>
                    <div class="col-md-12 mapBind">
                        <div id="mapView" class="mob-min"><div class="mapPlaceholder"><span class="fa fa-spin fa-spinner"></span> Loading map...</div></div>
                        <div class="mapSubCat">
                            <ul id="connectivity">
                                <li><label><input type="radio" id="connectivity-bus" name="commongroup" value="Bus">Bus Stop</label></li>
                                <li><label><input type="radio" id="connectivity-railstation" name="commongroup" value="Railway">RailStation</label></li>
                            </ul>
                            <ul id="basicamenity" class="hidden">
                                <li><label><input type="radio" id="amenity-store" name="commongroup" value="DepartmentalStore">Departmental Stores</label></li>
                                <li><label><input type="radio" id="amenity-salon" name="commongroup" value="Salon">Salon and Spa</label></li>
                                <li><label><input type="radio" id="amenity-bank" name="commongroup" value="Bank">Bank</label></li>
                                <li><label><input type="radio" id="amenity-atm" name="commongroup" value="ATM">ATM</label></li>
                            </ul>
                            <ul id="healthcares" class="hidden">
                                <li><label><input type="radio" id="healthcare-hospital" name="commongroup" value="Hospitals">Hospitals</label></li>
                                <li><label><input type="radio" id="healthcare-pharmacy" name="commongroup" value="Pharmacy">Pharmacies</label></li>
                            </ul>
                            <ul id="entertainments" class="hidden">
                                <li><label><input type="radio" id="entertainment-mall" name="commongroup" value="Malls">Malls</label></li>
                                <li><label><input type="radio" id="entertainment-theatre" name="commongroup" value="Theatres">Movie Theatres</label></li>
                            </ul>
                            <ul id="foods" class="hidden">
                                <li><label><input type="radio" id="food-restaurant" name="commongroup" value="Restaurants">Restaurant</label></li>
                                <li><label><input type="radio" id="food-bar" name="commongroup" value="Bars and NightClubs">Bars &Aacute; Nightclub</label></li>
                            </ul>
                            <ul id="educations" class="hidden">
                                <li><label><input type="radio" id="education-school" name="commongroup" value="School">Schools and Day Care</label></li>
                                <li><label><input type="radio" id="education-college" name="commongroup" value="College">College</label></li>
                                <li><label><input type="radio" id="education-university" name="commongroup" value="University">University</label></li>
                                <li><label><input type="radio" id="education-park" name="commongroup" value="Amusement Park">Amusement Park</label></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        @*<div class="modal fade" id="contactAgent" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="contactLabel">Contact Agent</h4>
                    </div>
                    <div class="modal-body">
                        <form class="contactForm">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfItem">
                                    <input type="text" placeholder="Name" class="form-control">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cfItem">
                                    <input type="text" placeholder="Email" class="form-control">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                                    <input type="text" placeholder="Subject" class="form-control">
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cfItem">
                                    <textarea placeholder="Message" rows="3" class="form-control"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal" class="btn btn-round btn-o btn-gray">Close</a>
                        <a href="#" class="btn btn-round btn-green">Send message</a>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="tab-pane fade" id="services">
            <div class="pgServices">
                <h3>Services and House Rules</h3>
                <div class="amenities">
                    <div class="col-md-12  row-padding-top-1">
                        <div class="row">
                           
                            @foreach (var HouseAmenity in Model.HouseList.FirstOrDefault().HouseAmenities)
                            {
                                if (HouseAmenity.Clubhouse)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1 text-center"><span class="fa fa-bank"></span> Club</div>
                                } if (HouseAmenity.CommonTV)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-users"></span><span class="icon-screen-desktop"></span> Common TV</div>
                                } if (HouseAmenity.EmergencyMedicalServices)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-ambulance"></span> Emergency Medical Services</div>
                                } if (HouseAmenity.FourWheelerCloseParking)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-car"></span> Four Wheeler Parking</div>
                                } if (HouseAmenity.Housekeeping)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Housekeeping</div>
                                }  if (HouseAmenity.IntercomFacility)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Intercom Facility</div>
                                } if (HouseAmenity.IroningWashingServices)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Laundry Service</div>
                                }if (HouseAmenity.Partyhall)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Party Hall</div>
                                } if (HouseAmenity.Playground)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Playground</div>
                                } if (HouseAmenity.Powerbackup)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Power backup</div>
                                } if (HouseAmenity.RoomService)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Room Service</div>
                                } if (HouseAmenity.Security)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Security</div>
                                } if (HouseAmenity.SwimmingPool)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Swimming Pool</div>
                                } if (HouseAmenity.TwoWheelerCloseParking)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Two Wheeler Parking</div>
                                } if (HouseAmenity.VideoSurveillance)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> VideoSurveillance</div>
                                } if (HouseAmenity.BreakFastGiven)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Breakfast</div>
                                } if (HouseAmenity.DinnerGiven)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Dinner</div>
                                } if (HouseAmenity.GuardianEntry)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Guardian Entry</div>
                                } if (HouseAmenity.LunchGiven)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Lunch</div>
                                } if (HouseAmenity.NoBoysEntry)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> No Boys Entry</div>
                                } if (HouseAmenity.NoDrinking)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> No Drinking</div>
                                } if (HouseAmenity.NonVegAllowed)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> Non Veg Allowed</div>
                                } if (HouseAmenity.NoSmoking)
                                {
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 amItem row-padding-top-1  text-center"><span class="fa fa-arrows-h"></span> No Smoking</div>
                                }
                            }
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                
            </div>
        </div>
        <div class="tab-pane fade" id="reviews">
            <div class="comments">
                <h3>Comments</h3>
                <div class="comment">
                    <div class="commentAvatar">
                        <img class="avatar" src="images/avatar-3.png" alt="avatar">
                        <div class="commentArrow"><span class="fa fa-caret-left"></span></div>
                    </div>
                    <div class="commentContent">
                        <div class="commentName">Rust Cohle</div>
                        <div class="commentBody">
                            It is a long established fact that a reader will be distracted by the readable content
                        </div>
                        <div class="commentActions">
                            <div class="commentTime"><span class="icon-clock"></span> 1 day ago</div>
                            <ul>
                                <li><a href="#"><span class="icon-action-undo"></span></a></li>
                                <li><a href="#"><span class="icon-like"></span> 13</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="comment reply">
                    <div class="commentAvatar">
                        <img class="avatar" src="images/avatar-1.png" alt="avatar">
                        <div class="commentArrow"><span class="fa fa-caret-left"></span></div>
                    </div>
                    <div class="commentContent">
                        <div class="commentName">John Smith</div>
                        <div class="commentBody">
                            Comment posted by me. I have the power to remove it.
                        </div>
                        <div class="commentActions">
                            <div class="commentTime"><span class="icon-clock"></span> 2 hours ago</div>
                            <ul>
                                <li><a href="#"><span class="fa fa-trash-o"></span></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="comment">
                    <div class="commentAvatar">
                        <img class="avatar" src="images/avatar-5.png" alt="avatar">
                        <div class="commentArrow"><span class="fa fa-caret-left"></span></div>
                    </div>
                    <div class="commentContent">
                        <div class="commentName">Alex Rogers</div>
                        <div class="commentBody">
                            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
                        </div>
                        <div class="commentActions">
                            <div class="commentTime"><span class="icon-clock"></span> 20 minutes ago</div>
                            <ul>
                                <li><a href="#"><span class="icon-action-undo"></span></a></li>
                                <li><a href="#"><span class="icon-like"></span> 13</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="comment">
                    <div class="commentAvatar">
                        <img class="avatar" src="images/avatar-2.png" alt="avatar">
                        <div class="commentArrow"><span class="fa fa-caret-left"></span></div>
                    </div>
                    <div class="commentContent">
                        <div class="commentName">Jane Smith</div>
                        <div class="commentBody">
                            Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                        </div>
                        <div class="commentActions">
                            <div class="commentTime"><span class="icon-clock"></span> 5 minutes ago</div>
                            <ul>
                                <li><a href="#"><span class="icon-action-undo"></span></a></li>
                                <li><a href="#"><span class="icon-like"></span> 13</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>



@section scripts{
<script type="text/javascript">
    var latitude = '@Model.Latitude';
    var longitude = '@Model.Longitude';
   
       var props =  [{
        title : 'Modern Residence in New York',
        image : '1-1-thmb.png',
        type : 'For Sale',
        price : '$1,550,000',
        address : '39 Remsen St, Brooklyn, NY 11201, USA',
        bedrooms : '3',
        bathrooms : '2',
        area : '3430 Sq Ft',
        position : {
            lat: latitude,
            lng: longitude
        },
       
    }];
    

</script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery-ui-touch-punch.js"></script>
    <script src="~/Scripts/jquery.placeholder.js"></script>
    <script src="~/Scripts/jquery.touchSwipe.min.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/jquery.visible.js"></script>
    <script src="~/Scripts/jquery.tagsinput.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script src="~/Scripts/infobox.js"></script>
    <script src="~/Scripts/app.js" type="text/javascript"></script>
    <script src="~/Scripts/Custom/User/SearchHome.js"></script>
}




