@model LYSApp.Model.BookingDetailsViewModel
@{
    ViewBag.Title = "ReviewBooking";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href='@Url.Content("~/Content/app.css")' rel="stylesheet" />
<link href='@Url.Content("~/Content/bootstrap.min.css")' rel="stylesheet" />
<link href='@Url.Content("~/Content/Custom/Search/shop.style.css")' rel="stylesheet" />
<link href='@Url.Content("~/Content/Custom/Search/custom-jquery.steps.css")' rel="stylesheet" />

<div class="content-md margin-bottom-30 row-padding-top-5">
    <div class="container">
        <form class="shopping-cart" action="#">
            <div>
                <div class="header-tags">
                    <div class="overflow-h">
                        <h2>Review Booking</h2>
                        <p>Review &amp; edit your booking</p>
                        <i class="rounded-x fa fa-check"></i>
                    </div>
                </div>
                <section>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">@Model.PGName</div>
                            <div class="panel-body">
                               <div class="row">
                                   <div class="col-md-4">
                                       <img src="~/Images/prop/1-1.png" alt="room image" width="150" height="100"/>
                                   </div>
                                   <div class="col-md-4">
                                       <p>@Model.RoomName</p>
                                       <p>@Model.Address</p>
                                   </div>
                                   <div class="col-md-4">
                                       <p>Check-In Date</p>
                                       <p>05-12-2015</p>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Fare Details</div>
                            <div class="panel-body">
                             
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="list-inline total-result">
                                                <li>
                                                    <h4>Fare</h4>
                                                    <div class="total-result-in">
                                                        <span>@Model.Price</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <h4>Fees & Taxes</h4>
                                                    <div class="total-result-in">
                                                        <span class="text-right">200</span>
                                                    </div>
                                                </li>
                                                <li class="divider"></li>
                                                <li class="total-price">
                                                    <h4>Total</h4>
                                                    <div id="result" class="total-result-in">
                                                      
                                                    </div>
                                                </li>
                                            </ul>
                                        
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    <div class="coupon-code">
                        <div class="row">
                            <div class="col-sm-4 sm-margin-bottom-30">
                                <h3>Discount Code</h3>
                                <p>Enter your coupon code</p>
                                <input class="form-control margin-bottom-10" name="code" type="text">
                                <button type="button" class="btn btn-green">Apply Coupon</button>
                            </div>

                        </div>
                    </div>
                </section>

                <div class="header-tags">
                    <div class="overflow-h">
                        <h2>User Details</h2>
                        <p>User Details</p>
                        <i class="rounded-x fa fa-home"></i>
                    </div>
                </div>
              
                 <section class="user-info">
                    <div class="user-info-inputs">
                        <div class="row">
                            @if (Model.User != null)
                            {
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Guest Details</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input id="name" type="text" placeholder="First Name" name="firstname" class="form-control required" readonly value="@Model.User.FirstName">
                                                <input id="email" type="text" placeholder="Email" name="email" class="form-control required email" readonly value="@Model.User.Email">
                                            </div>
                                            <div class="col-md-6">
                                                <input id="surname" type="text" placeholder="Last Name" name="lastname" class="form-control required" readonly value="@Model.User.LastName">
                                                <input id="phone" type="tel" placeholder="Phone" name="phone" class="form-control required" readonly value="@Model.User.PhoneNumber">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                            else
                            {
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Sign In</div>
                                        <div class="panel-body">
                                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Url.Action("ReviewBooking","Search") }, FormMethod.Post, new { role = "form", @class = "form-inline form-sign-in" }))
                                            {
                                                <div class="form-group">
                                                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                                        <p class="help-block"><a href="#">Forgot your password?</a></p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" checked="checked"><span class="fa fa-check"></span> Remember me</label></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <input type="submit" class="btn btn-o btn-green" value="Sign In"/>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Fare Details</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul class="list-inline total-result">
                                                    <li>
                                                        <h4>Fare</h4>
                                                        <div class="total-result-in">
                                                            <span>@Model.Price</span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <h4>Fees & Taxes</h4>
                                                        <div class="total-result-in">
                                                            <span class="text-right">200</span>
                                                        </div>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li class="total-price">
                                                        <h4>Total</h4>
                                                        <div id="result" class="total-result-in">
                                                           
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                 </section>
                <div class="header-tags">
                    <div class="overflow-h">
                        <h2>Payment</h2>
                        <p>Select Payment method</p>
                        <i class="rounded-x fa fa-credit-card"></i>
                    </div>
                </div>
                <section>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 md-margin-bottom-50">
                            <h2 class="title-type">Choose a payment method</h2>
                            <!-- Accordion -->
                            <div class="accordion-v2">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                    <i class="fa fa-credit-card"></i>
                                                    Credit or Debit Card
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body cus-form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-4 no-col-space control-label">Cardholder Name</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control required" name="cardholder" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 no-col-space control-label">Card Number</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control required" name="cardnumber" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 no-col-space control-label">Payment Types</label>
                                                    <div class="col-sm-8">
                                                        <ul class="list-inline payment-type">
                                                            <li><i class="fa fa-cc-paypal"></i></li>
                                                            <li><i class="fa fa-cc-visa"></i></li>
                                                            <li><i class="fa fa-cc-mastercard"></i></li>
                                                            <li><i class="fa fa-cc-discover"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4">Expiration Date</label>
                                                    <div class="col-sm-8 input-small-field">
                                                        <input type="text" name="mm" placeholder="MM" class="form-control required sm-margin-bottom-20">
                                                        <span class="slash">/</span>
                                                        <input type="text" name="yy" placeholder="YY" class="form-control required">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 no-col-space control-label">CVV</label>
                                                    <div class="col-sm-8 input-small-field">
                                                        <input type="text" name="number" placeholder="" class="form-control required">
                                                        <a href="#">What's this?</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                    <i class="fa fa-paypal"></i>
                                                    Pay with PayPal
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="content margin-left-10">
                                                <a href="#"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png" alt="PayPal"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Accordion -->
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-top :4%">
                            <div class="panel panel-default">
                                <div class="panel-heading">Fare Details</div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="list-inline total-result">
                                                <li>
                                                    <h4>Fare</h4>
                                                    <div class="total-result-in">
                                                        <span>@Model.Price</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <h4>Fees & Taxes</h4>
                                                    <div class="total-result-in">
                                                        <span class="text-right">200</span>
                                                    </div>
                                                </li>
                                                <li class="divider"></li>
                                                <li class="total-price">
                                                    <h4>Total</h4>
                                                    <div id="result" class="total-result-in">
                                                       
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                
            </div>
        </form>
    </div><!--/end container-->
</div>
<!--=== End Content Medium Part ===-->
@section Scripts{
<script src='@Url.Content("~/Scripts/Custom/User/jquery.steps.js")'></script>
<script src='@Url.Content("~/Scripts/Custom/User/jquery.validate.min.js")'></script>
<script src='@Url.Content("~/Scripts/Custom/User/shop.app.js")'></script>
<script src='@Url.Content("~/Scripts/Custom/User/stepWizard.js")'></script>
<script>
    $(document).ready(function () {
        var Price = parseInt('@Model.Price',10)+200;
        App.init();
        StepWizard.initStepWizard();
        var data = '<span>'+Price +'</span>';
        $('#result').append(data);
    });
</script>

}